*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.supreme-container{
    position: relative;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
}
.main-container{
    height: 100vh;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.description-container{
    min-width: 40%;
    max-width: 765px;
    color: white;
    font-family: "Poppins", sans-serif;
}
.big-header{
    width: 65%;
    font-size: 3rem;
    margin: 0 auto 1.5rem auto;
}
.description-container > p{
    color: rgba(255,255,255,0.8);
    margin: 0 auto;
    width: 65%;
    font-size: 16px;
}
.big-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgba(0,0,0,0.4);*/
    min-height: 70%;
    margin-right: 2rem;
    height: auto;
}
.purple-container{
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    text-align: center;
    color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 8px 0px rgba(0,0,0,0.2);
}
.form-container{
    background-color: white;
    min-width: 35vw;
    border-radius: 1rem;
    box-shadow: 0px 8px 0px rgba(0,0,0,0.2);
    min-height: 80%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sign-up-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-wrapper{
    position: relative;
    padding-left: 0.15rem;
}
.input-wrapper.goodnt::after{
    content: url("./images/icon-error.svg");
    position: absolute;
    top: 1.6rem;
    right: 2rem;
}
.sign-up-form input{
    width: calc(100% - 1.6rem);
    padding: 1rem;
    margin: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.1s ease;
}
.sign-up-form input:hover{
    border: 1px solid hsl(0, 100%, 74%);
}

.sign-up-form input:hover::placeholder{
    color: hsl(0, 100%, 74%);
    opacity: 0.8;
}
.sign-up-form input:focus::placeholder{
    color: black;
    opacity: 0.8;
}
.sign-up-form input:focus{
    border: 1px solid black;
    font-weight: 700;
    color: black;
}

.sign-up-button{
    padding: 1rem;
    margin: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    background: hsl(154, 59%, 51%);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.sign-up-button:hover{
    background: hsl(154, 59%, 71%);
    cursor: pointer;
}
.terms-and-services-text{
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    margin-bottom: 2rem;
    text-align: center;
}
.terms-and-services-span{
    color: hsl(0, 100%, 74%);
    transition: all 0.3s ease;
}
.terms-and-services-span:hover{
    color: hsl(0, 100%, 84%);
    cursor: pointer;
}
.sign-up-form > input.error{
    margin-bottom: 1rem;
}
.error-msg{
    color: hsl(0, 100%, 74%);
    font-size: 12px;
    font-style: italic;
    text-align: end;
    margin: 0 1rem;
    display: none;
    position: relative;
    bottom: 0.8rem;
}
.error-msg.show{
    display: block;
}
.attribution{
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}
.attribution > a{
    text-decoration: none;
    transition: color 0.2s ease-in;
}
.attribution > a:hover{
    color: white;
    cursor: pointer;
}
@media(max-width : 800px){
    .main-container{
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }
    .description-container{
        max-width: 90%;
        text-align: center;
        margin: 4rem 2rem 2rem 2rem;
    }
    .big-header{
        width: 90%;
    }
    .description-container > p{
        width: 75%;
    }
    .big-form-container{
        margin: 3rem;
    }
    .form-container{
        margin-top: 2rem;
    }
    .terms-and-services-text{
        width: 90%;
        text-align: center;
    }
    .attribution{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    
}
@media(max-width : 375px)
{
    .supreme-container{
        background-image: url("./images/bg-intro-mobile.png");
        background-position: center;
    }
    .big-header{
        font-size: 1.8rem;
    }
    .description-container > p{
        width: 90%;
    }
    .big-form-container{
        margin: 4rem 0.5rem 2rem 0.5rem;
    }
}